<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1">
                    <match url="^([^.]*)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php" />
                </rule>
                <rule name="Imported Rule 2">
                    <match url="^avatar-generator/([^/]*)\.png$" ignoreCase="false" />
                    <action type="Rewrite" url="/avatar-generator/avatarimage.php?f" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
